TOPIC: String Based Assignment Problem

In [1]:
# 1. Write a program to reverse a string.
str_a = input("Enter a string: ")
str_a = str_a[::-1]
print(str_a)

Enter a string:  Hello World

dlroW olleH

In [2]:
#2.Check if a string is a palindrome.
def palidrome(str_b):
    str_b = ''.join(str_b.split()).lower()
    return str_b == str_b[::-1]
str_c = input("Enter a string: ")

if palidrome(str_c):
    print(f"'{str_c}' is a palindrome.")
else:
    print(f"'{str_c}' is not a palindrome.")

Enter a string:  level

'level' is a palindrome.

In [3]:
#3. Convert a string to uppercase.
str_d = input("Enter a string: ")
str_d = str_d.upper()
print("Uppercase string :",str_d)

Enter a string:  hello world

Uppercase string : HELLO WORLD

In [4]:
#4. Convert a string to lowercase.
str_e = input("Enter a string: ")
str_e = str_e.lower()
print("lowercase string :",str_e)

Enter a string:  HELLO WORLD

lowercase string : hello world

In [10]:
#5. Count the number of vowels in a string.
def vowels_cnt(str_f):
   
    vowel_count = 0

    str_f = str_f.lower()

    
    vowels_name = set("aeiouAEIOU")

    
    for char in str_f:
       
        if char in vowels_name:
            
            vowel_count += 1

    
    return vowel_count


input_string = input("Enter a string :")
result = vowels_cnt(input_string)
print("Number of vowels:", result)

Enter a string : Good Morning

Number of vowels: 4

In [12]:
#6. Count the number of consonants in a string.
def consonants(string_a):
    consonants_count = 0
    string_a = string_a.lower()
    consonants_a = "bcdfghjklmnpqrstvwxyz"
    for char in string_a:
        if char in consonants_a:
            consonants_count += 1
    return consonants_count
input_string = input("Enter a string :")
result = consonants(input_string)
print("Total consonants in this string is :", result)

Enter a string : Amazing world

Total consonants in this string is : 8

In [13]:
#7. Remove all whitespaces from a string.
input_str = input("Enter a string :")
result = ''.join(input_str.split())
print(result)

Enter a string : Hello  world

Helloworld

In [14]:
#8. Find the length of a string without using the `len()` function.
def length_str(input_str):
    length_a = 0
    for char in input_str:
        length_a += 1
    return length_a

input_str = input("Enter a string: ")
print(length_str(input_str))

Enter a string:  Sample string

13

In [15]:
#9. Check if a string contains a specific word.

input_str = input("Enter a string: ")
input_specific_word = input("Enter the specific word: ")

if input_specific_word in input_str:
    print("Yes, the string contains the specific word.")
else:
    print("No, the string not contains the specific word")

Enter a string:  Tomato
Enter the specific word:  T

Yes, the string contains the specific word.

In [17]:
#10. Replace a word in a string with another word.
input_str = input("Enter a string :")
input_replace_word = input("Please enter the specific word to replace :")
input_diffrent_word = input("Enter another word which you want to insert :")
replaced_str = input_str.replace(input_replace_word,input_diffrent_word)
print(replaced_str)

Enter a string : Wood
Please enter the specific word to replace : W
Enter another word which you want to insert : G

Good

In [18]:
#11. Count the occurrences of a word in a string.
input_string = input("Enter a string :")
input_wordcnt = input("Enter a word for count :")
count = 0
for char in input_string:
    if char == input_wordcnt:
        count += 1
print(count)

Enter a string : Banana
Enter a word for count : n

2

In [1]:
#12. Find the first occurrence of a word in a string.
def firstoccurrence(string,word):
    index = string.find(word)
    if index == -1:
            return None
    return index
    
string = input("Enter a string :")
word = input("Enter a word to find occurrence :")
final = firstoccurrence(string, word)
print("Index of the first occurrence:", final)

Enter a string : Hello World
Enter a word to find occurrence : l

Index of the first occurrence: 2

In [3]:
#13. Find the last occurrence of a word in a string.
def lastoccurrence(string,word):
    index = string.rfind(word)
    if index == -1:
            return None
    return index
    
string = input("Enter a string :")
word = input("Enter a word to find last occurrence :")
final = lastoccurrence(string, word)
print("Index of the last occurrence:", final)

Enter a string : Hello World
Enter a word to find last occurrence : W

Index of the last occurrence: 6

In [4]:
#14. Split a string into a list of words.
def split_words(string_splt):
    
    string_splt = string_splt.split()
    return string_splt

Enter_string = input("Enter a string :")
result = split_words(Enter_string)
print("string in form of list :",result)

Enter a string : Hello World

string in form of list : ['Hello', 'World']

In [5]:
#15. Join a list of words into a string.
def join_words_into_string(words_list):

    joined_string = ' '.join(words_list)

    # Step 2: Return the joined string.
    return joined_string


words = ['You', 'never', 'fail', 'until', 'you', 'stop', 'trying.']
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: You never fail until you stop trying.

In [6]:
# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.
def convert_str(str_with_spcs):
    str_with_spcs = str_with_spcs.replace(' ','_')
    return str_with_spcs

Enter_string2 = input("Enter a string :")
result2 = convert_str(Enter_string2)
print("string with spaces :",result2)

Enter a string : THis is Example

string with spaces : THis_is_Example

In [7]:
#17. Check if a string starts with a specific word or phrase.
def word_strt(text,words):
    
    strt_spcfc = text.startswith(words)
    return strt_spcfc
    
text = "In the middle of difficulty lies opportunity."
words = "In"
new_str = word_strt(text,words)
if new_str:
    print("The string starts with the inserted word ")
else:
    print("The string does not starts with the inserted word")

The string starts with the inserted word

In [9]:
#18. Check if a string ends with a specific word or phrase.
def word_ends(text,words):
    
    ends_spcfc = text.endswith(words)
    return ends_spcfc
    
text = "Remember to look up at the stars and not down at your feet."
words = "feet."
new_str = word_ends(text,words)
if new_str:
    print("The string ends with this specific word ")
else:
    print("The string does not ends with this word")

The string ends with this specific word

In [10]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
def cnvrt_ttl(title_cnvrt):
    title_cnvrt = title_cnvrt.title()
    return title_cnvrt

string_name = "intelligence is the ability to adapt to change."
string_name_result = cnvrt_ttl(string_name)
print(string_name_result)

Intelligence Is The Ability To Adapt To Change.

In [11]:
#20. Find the longest word in a string.
input_str = "This is a sample sentence with several words of different lengths."

words = input_str.split()
longest_word = ""
max_length = 0

for word in words:
   
    word = word.strip(".,!?;:\"")
    
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word


print(f"The longest word in the string is: '{longest_word}'")

The longest word in the string is: 'different'

In [12]:
# 21. Find the shortest word in a string.
def find_shortest_word(text):
    words = text.split()

    shortest_word = None
    min_length = float('inf') 

    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    
    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [13]:
#22. Reverse the order of words in a string.

input_str = input("Enter a string :")

words = input_str.split()

reversed_words = words[::-1]

reversed_str = " ".join(reversed_words)

print("Reversed String:",reversed_str)

Enter a string : Hello python

Reversed String: python Hello

In [14]:
#23. Check if a string is alphanumeric.
input_str = input("Enter a string :" )
alphanum = input_str.isalnum()
if alphanum :
    print("The string is alphanumeric.")
else:
    print("The string does not alphanumeric")

Enter a string : Abcd113

The string is alphanumeric.

In [15]:
#24. Extract all digits from a string.
str_ext = input("Enter a string: ")

extracted_digits = ""

for char in str_ext:
    if char.isdigit():
        extracted_digits += char

print("Extracted digits:", extracted_digits)

Enter a string:  Hello123

Extracted digits: 123

In [16]:
#25. Extract all alphabets from a string.
str_alpha  = input("Enter a string: ")
extracted_alphabets = ""

# Iterate through the characters of the input string
for text in str_alpha:
    if text.isalpha():
        extracted_alphabets += text

# Print the extracted digits
print("Extracted digits:", extracted_alphabets)

Enter a string:  Hello123

Extracted digits: Hello

In [17]:
#26. Count the number of uppercase letters in a string.
input_str_ = input("Enter a string: ")
count = 0

for char in input_str_:
    if char.isupper():
        count += 1

print("Number of uppercase letters:", count)

Enter a string:  Hello World

Number of uppercase letters: 2

In [18]:
#27. Count the number of lowercase letters in a string.
input_string = input("Enter a string: ")
count = 0

for char in input_string :
    if char.islower():
        count += 1

print("Number of lowercase letters:", count)

Enter a string:  Hello World

Number of lowercase letters: 8

In [19]:
#28. Swap the case of each character in a string.
original_str = input("Enter a original string :")
swapped_str = original_str.swapcase()
print("Swapped string :", swapped_str)

Enter a original string : Hello World

Swapped string : hELLO wORLD

In [20]:
#28. Swap the case of each character in a string.

#second method
input_str = input("Enter a string: ")
swapped_string = ''

for char in input_str:
    if char.isupper():
        swapped_string += char.lower()
    elif char.islower():
        swapped_string += char.upper()
    else:
        swapped_string += char

print("Swapped case string:", swapped_string)

Enter a string:  Hello World

Swapped case string: hELLO wORLD

In [21]:
# 29) Remove a specific word from a string.
specific_word = "e"
string_ = "Hello World"
removed_word_str = string_.replace(specific_word,'')
print(removed_word_str)

Hllo World

In [22]:
# 30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [23]:
#31. Extract the username from an email address string
email = "abcduser@gmail.com"
username = email.split('@')[0]
print(username)

abcduser

In [24]:
#32. Extract the domain name from an email address string.
email = "domainnameextract@gmail.com"
domainname = email.split("@")[1]
print(domainname)

gmail.com

In [25]:
#33. Replace multiple spaces in a string with a single space.
def string_spaces(input_str):
    changed_str = ' '.join(input_str.split())
    return changed_str
input_str =  "Hello     World."
result = string_spaces(input_str)
print(result)

Hello World.

In [26]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False


url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [27]:
#35. Extract the protocol (http or https) from a URL string.
url_s = "https://google.com"
result = url_s.split("://")[0]
print(result)

https

In [28]:
#36. Find the frequency of each character in a string.
empty_dic = {}
def frecuency(frecuency_str):
    for char in frecuency_str:
        if char in empty_dic:
            empty_dic[char] += 1
        else:
            empty_dic[char] = 1
    return empty_dic        

input_str = "Good morning"
char_freq = frecuency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'G', Frequency: 1
Character: 'o', Frequency: 3
Character: 'd', Frequency: 1
Character: ' ', Frequency: 1
Character: 'm', Frequency: 1
Character: 'r', Frequency: 1
Character: 'n', Frequency: 2
Character: 'i', Frequency: 1
Character: 'g', Frequency: 1

In [29]:
#37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans('', '', string.punctuation)
    
    # Use translate to remove punctuation
    clean_string = input_string.translate(translator)
    
    return clean_string

# Test with a string containing punctuation
input_string = "Hello, world! This is an example of removing punctuation."
cleaned_string = remove_punctuation(input_string)

print("Original String:", input_string)
print("String without Punctuation:", cleaned_string)

Original String: Hello, world! This is an example of removing punctuation.
String without Punctuation: Hello world This is an example of removing punctuation

In [30]:
# 38. Check if a string contains only digits.
def check_string(input_str):
    return input_str.isdigit()
input_string = "12345"
result = check_string(input_string)
print(result)

True

In [8]:
# 39. Check if a string contains only alphabets.
def check_alphabets(input_str):
    return input_str.isalpha()
input_string = "Abcd"
result = check_alphabets(input_string)
print(result)

True

In [17]:
# 40. Convert a string to a list of characters.
string_input = input("Enter a string :")
converted_string = list(string_input)
print(converted_string)

Enter a string : Hello World

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [21]:
# 41. Check if two strings are anagrams.
first_string = input("Enter a first string :")
second_string = input("Enter a second string :")

first_string.replace(" ","").lower()
second_string.replace(" ","").lower()

if sorted(first_string)==sorted(second_string):
    print("This two strings are anagrams.")
else:
    print("This two strings are not anagrams.")

Enter a first string : abcd 1234
Enter a second string : 1234 adcb

This two strings are anagrams.

In [4]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    shift = int(shift)  # Convert shift to an integer
    result = ""
    
    for char in text:
        if char.isalpha():
            # Determine if it's an uppercase or lowercase letter
            is_upper = char.isupper()
            char = char.lower()
            
            # Shift the character by the given amount
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            
            # Convert back to uppercase if it was uppercase
            if is_upper:
                shifted_char = shifted_char.upper()
            
            result += shifted_char
        else:
            result += char  # Keep non-alphabetic characters unchanged
    
    return result

# Example usage
text = input("Enter a string: ")
shift = input("Enter a shift number: ")
encoded_text = caesar_cipher(text, shift)

print("Original Text:", text)
print("Encoded Text:", encoded_text)

Enter a string:  Hello, World
Enter a shift number:  5

Original Text: Hello, World
Encoded Text: Mjqqt, Btwqi

In [6]:
# 43. Decode a Caesar cipher encoded string.
def caesar_decipher(text, shift):
    shift = int(shift)  # Convert shift to an integer
    shift = -shift  # Apply a negative shift to decode
    return caesar_cipher(text, shift)

# Example usage
encoded_text = input("Enter an encoded string: ")
shift = int(input("Enter a shift key value: "))
decoded_text = caesar_decipher(encoded_text, shift)

print("Encoded Text:", encoded_text)
print("Decoded Text:", decoded_text)

Enter an encoded string:  Mjqqt, Btwqi
Enter a shift key value:  5

Encoded Text: Mjqqt, Btwqi
Decoded Text: Hello, World

In [7]:
# 44. Find the most frequent word in a string.
def most_frequent_word(text):
    # Split the text into words and convert to lowercase
    words = text.lower().split()

    # Create a dictionary to count word occurrences
    word_count = {}

    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

    # Find the most common word and its count
    most_common_word = max(word_count, key=word_count.get)
    count = word_count[most_common_word]

    return most_common_word, count

# Example usage
text = "This is a sample text. This text contains some sample words, and a few more sample words."
most_common_word, count = most_frequent_word(text)

print("Most frequent word:", most_common_word)
print("Frequency:", count)

Most frequent word: sample
Frequency: 3

In [10]:
# 45. Find all unique words in a string.
def unique_words(text):
    # Split the text into words and convert to lowercase
    words = text.lower().split()

    # Use a set to store unique words
    unique_word_set = set(words)

    return unique_word_set

# Example usage
text = input("Enter a string :")
unique_words_set = unique_words(text)

print("Unique words:", unique_words_set)

Enter a string : Hello , world . Hello

Unique words: {'.', ',', 'world', 'hello'}

In [5]:
#46. Count the number of syllables in a string.
from textstat import textstat

def count_syllables(text):
    return textstat.syllable_count(text)

# Example usage
text = "The quick brown fox jumps over the lazy dog."
syllable_count = count_syllables(text)

print("Text:", text)
print("Syllable count:", syllable_count)

Text: The quick brown fox jumps over the lazy dog.
Syllable count: 9

In [8]:
# 47. Check if a string contains any special characters.
import re
def exist_char(text):
    list_of_spcl_chr = r'[<>?:"{}!@#$%^&*()_+,./;=-|]'
    
    search_char = re.search(list_of_spcl_chr,text)
    
    if search_char:
         return True
    else:
        return False
        
string_sample = "Hello World! "
result = exist_char(string_sample)
print(result)

True

In [41]:
# 48. Remove the nth word from a string.
def remove_nth_word(string,nth_no):
    
    try :
        nth_no = int(nth_no)
        total_words = string.split()
        if 0 <= int(nth_no) < len(total_words):
        
            del total_words[nth_no]
    
            new_string = ' '.join(total_words)
     
            return new_string
        else:
            print("given postion is number is out of range")
            
    except ValueError as a:
        print(a)

input_sentence = input("Enter a string :")
input_nth_no = input("Enter a nth no :")
result = remove_nth_word(input_sentence,input_nth_no)
print(result)

Enter a string : We check if the specified index n is within the valid range
Enter a nth no : 4

We check if the index n is within the valid range

In [22]:
# 49. Insert a word at the nth position in a string.
input_str = input("Enter a string :")
word_insert = input("Enter a word to insert :")
position = int(input("Enter a position for above word :"))

changed_str = input_str.split()

try:
    
    if 0 <=position <len(changed_str):
        
        changed_str.insert(position, word_insert)
        
        joined_str = ' '.join(changed_str)
        
        print(joined_str)
    
    else:
        print("Given position is out of range. The text remains unchanged.")
except:
    pass

Enter a string : "The quick brown jumps over the lazy dog."
Enter a word to insert : fox
Enter a position for above word : 3

"The quick brown fox jumps over the lazy dog."

In [1]:
# 50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago"""

# Create a StringIO object to simulate a file-like object from the CSV string
csv_file = StringIO(csv_string)

# Use the csv.reader to parse the CSV data
csv_reader = csv.reader(csv_file)

# Convert the CSV data to a list of lists
csv_data = [row for row in csv_reader]

# Print the result
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

List Based Practice Problem :

In [28]:
#1. Create a list with integers from 1 to 10.
my_list = [i for i in range(1,11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#2. Find the length of a list without using the `len()` function.
list_sample = ["fox","cow","lion"]
count = 0
for i in list_sample:
    count += 1
print(count)

3

In [2]:
#3. Append an element to the end of a list.
list_sample = ["a", "b", "c", "d"]
append_element = input("Enter a word to append :")
list_sample.append(append_element)
print(list_sample)

Enter a word to append : e

['a', 'b', 'c', 'd', 'e']

In [3]:
#4. Insert an element at a specific index in a list.
list_sample = ["1", "3", "4", "5"]
insert_char = 2
insert_index = 1
list_sample.insert(insert_index,insert_char)
print("Updated list :",list_sample)

Updated list : ['1', 2, '3', '4', '5']

In [4]:
#5. Remove an element from a list by its value.
list_ = ["yes", "ok" ,"please"]
remove_word = "ok"
list_.remove(remove_word)
print("Removed version :",list_)

Removed version : ['yes', 'please']

In [5]:
#6. Remove an element from a list by its index.
list_1 = ["apple","banana","mango",["pinaple","orrange"],{"fruit" :"watermelon"}]
index_of_word = 3
list_1.pop(index_of_word)
print("Updated list :",list_1)

Updated list : ['apple', 'banana', 'mango', {'fruit': 'watermelon'}]

In [12]:
#7. Check if an element exists in a list.
list_of_elements = ["apple","banana","mango",["pinaple","orrange"],{"fruit" :"watermelon"}]
check_element = "mango"
if check_element in list_of_elements:
    print("Yes this element is exis in main list.")
else:
    print("No this element dosn't exist in this list.")

Yes this element is exis in main list.

In [18]:
#8. Find the index of the first occurrence of an element in a list.

list_a1 = ["woodpacker","peocock","pigon"]

element_occurrence = "peocock"

if element_occurrence in list_a1:
    
    print("index of the first occurrence of an element is :",list_a1.index(element_occurrence))

else:
    
    print("This word does not exist in the list :")

index of the first occurrence of an element is : 1

In [1]:
#9. Count the occurrences of an element in a list.

list_a2 = ["Table", "Chair", "Mirror", "Chair", "Cupboard"]

perticular_element = "Chair"

count = 0

for char in list_a2:
       if char == perticular_element:
        count += 1
print("Total occurrence of element is :",count)

Total occurrence of element is : 2

In [2]:
#10. Reverse the order of elements in a list.
list_a3 = [10, 20, 30, 40, 50]
list_a3.reverse()
print(list_a3)

[50, 40, 30, 20, 10]

In [7]:
#11. Sort a list in ascending order.
list_a = [10,56,6,8,9,6,85,8,5,62]
list_a.sort()
print("Sorted list in ascending order :",list_a)

Sorted list in ascending order : [5, 6, 6, 8, 8, 9, 10, 56, 62, 85]

In [12]:
#12. Sort a list in descending order.
list_b = ["Cat","Apple","Dog","Banana"]
list_b.sort(reverse = True)
print("Sorted list in descending order :",list_b)

Sorted list in descending order : ['Dog', 'Cat', 'Banana', 'Apple']

In [7]:
#13. Create a list of even numbers from 1 to 20.
l = []
for i in range(1,21):
    if i%2 == 0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#14. Create a list of odd numbers from 1 to 20.
l1 = []

for i in range(1,21):
   
    if i%2 != 0:
        
        l1.append(i)

print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
#15. Find the sum of all elements in a list.

l3 = [5,3,5,9,2,31,52,68,2,5,78]

total_sum = sum(l3)


print("Total sum :",total_sum)

Total sum : 260

In [17]:
#16. Find the maximum value in a list.

list_04 = [2, 5, 32, 8, 86, 22, 1, 9]

maximum = max(list_04)

print("Maximum value in a list is :",maximum)

Maximum value in a list is : 86

In [19]:
#17. Find the minimum value in a list.

list_05 = [2, 5, 32, 8, 86, 22, 1, 9]

Minimum = min(list_05)

print("Minimum value in a list is :",Minimum)

Minimum value in a list is : 1

In [23]:
#18. Create a list of squares of numbers from 1 to 10.
l = []
for i in range(1,11):
    i = i**2
    l.append(i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#19. Create a list of random numbers.

import random


total_number_of_list = 15

min_num = 1

max_num = 100

random_numbers = [random.randint(min_num,max_num) for i in range(total_number_of_list)]

print("Random numbers :",random_numbers)

Random numbers : [23, 39, 23, 81, 9, 81, 73, 7, 40, 26, 20, 93, 59, 97, 17]

In [31]:
# 20. Remove duplicates from a list.
list_a1 = [1, 4, 49, 64, 81, 4, 92, 6, 27, 67, 64, 49]

new_list = list(set(list_a1))

print("Unique list :",new_list)

Unique list : [64, 1, 67, 4, 6, 81, 49, 27, 92]

In [33]:
#21. Find the common elements between two lists.
list_a2 = [64, 81, 4, 92, 6, 2, 5, 32, 8]
list_a3 = [2, 65, 74, 35, 4, 81, 8]

common_elements = [element for element in list_a2 if element in list_a3]

print("Common element list :",common_elements)

Common element list : [81, 4, 2, 8]

In [41]:
#22. Find the difference between two lists.

list_a4 = [64, 81, 4, 92, 6, 2, 5, 32, 8]
list_a5 = [2, 65, 74, 35, 4, 81, 8]

diffrent_elements = [element for element in list_a2 if element not in list_a3]

print("Diffrence between lists :",diffrent_elements)

#second method

diffrence = list(set(list_a4).difference(list_a5))

print("Diffrence between lists :",diffrence)

Diffrence between lists : [64, 92, 6, 5, 32]
Diffrence between lists : [64, 32, 5, 6, 92]

In [2]:
#23. Merge two lists.
list_a = [5,6]
list_b = [2,3]

merge_list = list_a+list_b
print("Merged list :",merge_list)

Merged list : [5, 6, 2, 3]

In [3]:
#24. Multiply all elements in a list by 2.
list_a1 = [5,2,6,66,8,6,8]
l = []
for i in list_a1:
    l.append(2*i)
print(l)

[10, 4, 12, 132, 16, 12, 16]

In [14]:
#25. Filter out all even numbers from a list.

list_a2 = [1,6,8,2,7,3,9,4,9,6,4,8,2,5]

l = []

for i in list_a2:
    if i%2==0:
        l.append(i)

print("All even numbers :",l)

All even numbers : [6, 8, 2, 4, 6, 4, 8, 2]

In [13]:
#26. Convert a list of strings to a list of integers.

list_b = ["12","55","66","97"]

int_list = [int(i) for i in list_b]

print("Integers list :",int_list)

Integers list : [12, 55, 66, 97]

In [15]:
#27. Convert a list of integers to a list of strings.
list_b1 = [12, 55, 66, 97]

string_list = [str(i) for i in list_b1]

print("List of String :",string_list)

List of String : ['12', '55', '66', '97']

In [26]:
#28. Flatten a nested list.
nested_list = [[6,7,3],[56,65,93],[32,6,7],5]

def flatten_list_(input_list):
    
    flatten_list = []
   
    for i in input_list:
        
        if isinstance(i,list):
            
            flatten_list.extend(flatten_list_(i))
        
        else:
             
           
            flatten_list.append(i)
    
    return flatten_list

flatten_list_a = flatten_list_(nested_list)

print(flatten_list_a)

[6, 7, 3, 56, 65, 93, 32, 6, 7, 5]

In [12]:
#29. Create a list of the first 10 Fibonacci numbers.
a= 0
b= 1
n=10

fibonacci_numbers = [a, b]


for i in range(2, n):
    next_fibonacci = fibonacci_numbers[i - 1] + fibonacci_numbers[i - 2]
    fibonacci_numbers.append(next_fibonacci)

print("Fibonacci series for first 10 numbers :",fibonacci_numbers)

Fibonacci series for first 10 numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
#30. Check if a list is sorted.
list_a1 = [1,2,3]

if list_a1 == sorted(list_a1):
    print("The list is sorted in ascending order.")   

    else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [4]:
#31. Rotate a list to the left by `n` positions.
#Sample list
list_sample = [51,65,85,64,85,75,67,39,45,22,6,4,73,92]

#define n value

n = 6

#Giving a condition so that we can execute our code properly.

if n < len(list_sample):
    list_sample = list_sample[n:] + list_sample[:n]
    print(list_sample)
else:
    print("Given n value is incorrect or greater  than length og list.")

[67, 39, 45, 22, 6, 4, 73, 92, 51, 65, 85, 64, 85, 75]

In [26]:
#32. Rotate a list to the right by `n` positions.
list_sample1 = [51,65,85,64,85,75,67,39,45,22,6,4,73,92]

#define n value

n = 4

#Giving a condition so that we can execute our code properly.

if n < len(list_sample1):
    list_sample1 = list_sample1[:-n-1:-1]+list_sample1[:-n-1:]
    print(list_sample1)
else:
    print("Given n value is incorrect or greater  than length og list.")

[92, 73, 4, 6, 51, 65, 85, 64, 85, 75, 67, 39, 45]

In [1]:
#33. Create a list of prime numbers up to 50.
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [2, 3, 5, 7]  # Initialize with the first few prime numbers

for num in range(11, 51):  # Start from 11 because we've already added primes up to 7
    if is_prime(num):
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
#34. Split a list into chunks of size `n`.
def split_into_chunks(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunks = list(split_into_chunks(my_list, chunk_size))

for chunk in chunks:
    print(chunk)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10]

In [3]:
#35. Find the second largest number in a list.

def second_largest(numbers):
    if len(numbers) < 2:
        return "The list has less than two elements."

    largest = second = float('-inf')

    for number in numbers:
        if number > largest:
            second = largest
            largest = number
        elif number > second and number != largest:
            second = number

    if second == float('-inf'):
        return "There is no second largest number."
    else:
        return second

# Example usage:
my_list = [4, 2, 9, 7, 5, 8]
result = second_largest(my_list)

print("Result:", result)

Result: 8

In [4]:
#36. Replace every element in a list with its square.
original_list = [1, 2, 3, 4, 5]

squared_list = [x ** 2 for x in original_list]

print(squared_list)

[1, 4, 9, 16, 25]

In [5]:
#37. Convert a list to a dictionary where list elements become keys and their
#indices become values.

my_list = ["apple", "banana", "cherry", "date"]

# Using a dictionary comprehension
result_dict = {element: index for index, element in enumerate(my_list)}

print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [8]:
#38. Shuffle the elements of a list randomly
import random

my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

[5, 1, 2, 4, 3]

In [13]:
#39. Create a list of the first 10 factorial numbers

#Function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(n) for n in range(10)]

print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [14]:
#40. Check if two lists have at least one element in common.
def have_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if have_common_element(list1, list2):
    print("The two lists have at least one element in common.")
else:
    print("The two lists have no common elements.")

The two lists have at least one element in common.

In [18]:
#41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [19]:
#42. Replace negative numbers in a list with 0.
original_list = [1, -2, 3, -4, 5]

# Replace negative numbers with 0 using a list comprehension
modified_list = [0 if x < 0 else x for x in original_list]

print(modified_list)

[1, 0, 3, 0, 5]

In [20]:
#43. Convert a string into a list of words.
text = "This is a sample sentence."

# Split the string into words using split()
word_list = text.split()

print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [21]:
#44. Convert a list of words into a string.
word_list = ["This", "is", "a", "list", "of", "words"]

# Convert the list of words into a string using join()
text = " ".join(word_list)

print(text)

This is a list of words

In [23]:
#45. Create a list of the first `n` powers of 2.
n = 6# Replace with the desired number of powers

# Create a list of the first n powers of 2 using list comprehension
powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16, 32]

In [24]:
#46. Find the longest string in a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

print(longest_string)

elderberry

In [25]:
#47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

print(shortest_string)

date

In [26]:
#48. Create a list of the first `n` triangular numbers.
n = 5  # Replace with the desired number of triangular numbers

triangular_numbers = []
sum = 0

for i in range(1, n + 1):
    sum += i
    triangular_numbers.append(sum)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [27]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(sub, main):
    sub_len, main_len = len(sub), len(main)
    i = j = 0

    while i < sub_len and j < main_len:
        if sub[i] == main[j]:
            i += 1
        j += 1

    return i == sub_len

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [2, 4, 6]

if is_subsequence(sub_list, main_list):
    print("The sub-list is a subsequence of the main list.")
else:
    print("The sub-list is not a subsequence of the main list.")

The sub-list is a subsequence of the main list.

In [28]:
#50. Swap two elements in a list by their indices
def swap_elements(lst, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap the elements
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices for swapping.")

# Example usage:
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

print(my_list)  # The list with swapped elements

[1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [5]:
#1. Create a tuple with integers from 1 to 5
tuple_int = tuple(range(1,6))
print(tuple_int)

(1, 2, 3, 4, 5)

In [8]:
#2. Access the third element of a tuple
tuple_ = (1,2,3,4,5)
tuple_[2]

3

In [14]:
#3. Find the length of a tuple without using the `len()` function.
my_tuple = (1, 2, 3, 4, 5)
length = 0

for _ in my_tuple:
    length += 1

print("Length of the tuple:", length)

Length of the tuple: 5

In [16]:
#4. Count the occurrences of an element in a tuple.
tuple_d = (6,6,7,6,9,4,2,1,3,8,6,6)
element_a = 6
count = 0
for i in tuple_d:
    if i == element_a:
        count += 1
print(count)

5

In [3]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (10, 20, 30, 40, 50, 20)  # Example tuple
element_to_find = 20  # The element you want to find

if element_to_find in my_tuple:
    index = my_tuple.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not in the tuple.")

The first occurrence of 20 is at index 1.

In [6]:
#6. Check if an element exists in a tuple.
tuple_s = (5,6,7,9,3,1,2,4,5)
element_a = 5

if element_a in tuple_s:
    print("This element exist in a tuple")
else:
    print("This element does not exist in s tuple")

This element exist in a tuple

In [9]:
#7. Convert a tuple to a list.
tuple_s = (5,6,7,3,9,7,1,6,4,8)

list_a = list(tuple_s)

print(list_a)

[5, 6, 7, 3, 9, 7, 1, 6, 4, 8]

In [10]:
#8. Convert a list to a tuple.

list_v = [5,6,7,3,9,7,1,6,4,8]

converted_list = tuple(list_v)

print(converted_list)

(5, 6, 7, 3, 9, 7, 1, 6, 4, 8)

In [1]:
#9. Unpack the elements of a tuple into variables.
my_tuple = (10, 20, 30)
variable1, variable2, variable3 = my_tuple

print("variable1:", variable1)
print("variable2:", variable2)
print("variable3:", variable3)

variable1: 10
variable2: 20
variable3: 30

In [16]:
#10. Create a tuple of even numbers from 1 to 10.

even_no =  tuple(i for i in range(1,11) if i%2 ==0)

print(even_no)

(2, 4, 6, 8, 10)

In [17]:
#11. Create a tuple of odd numbers from 1 to 10
odd_no =  tuple(i for i in range(1,11) if i%2 !=0)

print(odd_no)

(1, 3, 5, 7, 9)

In [18]:
#12. Concatenate two tuples.
tuple_a = (6,6,8,2,3,8,7,6)

tuple_b = (5,6,8,6,7,2,6)

tuple_ab = tuple_a+tuple_b

print(tuple_ab)

(6, 6, 8, 2, 3, 8, 7, 6, 5, 6, 8, 6, 7, 2, 6)

In [19]:
#13. Repeat a tuple three times
tuple_c = (5,6,8,2,6,6,8)

three_time = 3*tuple_c

print(three_time)

(5, 6, 8, 2, 6, 6, 8, 5, 6, 8, 2, 6, 6, 8, 5, 6, 8, 2, 6, 6, 8)

In [25]:
#14. Check if a tuple is empty.
empty_tuple = ()

if len(empty_tuple)==0:
    print("This tuple is Empty")
else:
    print("This tuple does not Empty")

This tuple is Empty

In [27]:
#15. Create a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))


print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [28]:
#16. Access the first element of a nested tuple.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [2]:
#17. Create a tuple with a single element.
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [4]:
#18. Compare two tuples.
tuple1 = (85,5,5,47)
tuple2 = (85,5,5,48)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [12]:
#19. Delete a tuple.
tuple_1 = (4,6,8,2,6,41)

del tuple_1
try:
    print(tuple_1)
except:
     pass

In [14]:
#20. Slice a tuple.
tuple_ab = (1,2,3,4,5,6,7,8,9)
sliced_tuple = tuple_ab[3:6]

print(sliced_tuple)

(4, 5, 6)

In [15]:
#21. Find the maximum value in a tuple

my_tuple = (10, 20, 5, 45, 30)

max_value = max(my_tuple)


print("Maximum value:", max_value)

Maximum value: 45

In [ ]:
#22. Find the minimum value in a tuple.

my_tuple = (10, 20, 5, 45, 30)

min_value = min(my_tuple)


print("Maimum value:", max_value)

In [18]:
#23. Convert a string to a tuple of characters.
string_a = "Hey,How are you."

tupled_string = tuple(string_a)

print("Tuple of characters:",tupled_string)

Tuple of characters: ('H', 'e', 'y', ',', 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '.')

In [22]:
#24. Convert a tuple of characters to a string.
tuple_b = ("H","e","l","l","o"," ","W","o","r","l","d")

string_tuple = "".join(tuple_b)

print("String from tuple:",string_tuple)

String from tuple: Hello World

In [23]:
#25. Create a tuple from multiple data types
multiple_types = (1,1.1,True,"HELLO")

tuple_d = tuple(multiple_types)

print(tuple_d)

(1, 1.1, True, 'HELLO')

In [25]:
#26. Check if two tuples are identical
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [29]:
#27. Sort the elements of a tuple.
tuple_z = (2,6,4,8,9,7,2,3,1,5)

sorted_tuple = tuple(sorted(tuple_z))

print(sorted_tuple)

(1, 2, 2, 3, 4, 5, 6, 7, 8, 9)

In [33]:
#28. Convert a tuple of integers to a tuple of strings.
tuple_int = (1,2,3,4,5,6,7,8)


tuple_str = tuple(str(i) for i in  tuple_int)

print(tuple_str)

('1', '2', '3', '4', '5', '6', '7', '8')

In [35]:
#29. Convert a tuple of strings to a tuple of integers.
tuple_str = ("1","2","3")

tuple_int = tuple(int(i) for i in tuple_str)

print(tuple_int)

(1, 2, 3)

In [36]:
#30. Merge two tuples.
tuple_A = (1,2,3,4,5,6)

tuple_B = (7,8,9,10,11)

tuple_A_B = tuple_A + tuple_B

print(tuple_A_B)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [38]:
#31. Flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((2, 3), (5, 7, 8), (9, (1, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (2, 3, 5, 7, 8, 9, 1, 8)

In [39]:
#32. Create a tuple of the first 5 prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [40]:
#33. Check if a tuple is a palindrome.
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [41]:
#34. Create a tuple of squares of numbers from 1 to 5.
tuple_s = (1,2,3,4,5)

squred_tuple = tuple(i**2 for i in tuple_s)

print(squred_tuple)

(1, 4, 9, 16, 25)

In [44]:
#35. Filter out all even numbers from a tuple.
tupleNum = (1,2,3,4,5,6,7,8,9)

filtered_tuple = tuple(i for i in tupleNum if i%2==0)

print(filtered_tuple)

(2, 4, 6, 8)

In [47]:
#36. Multiply all elements in a tuple by 2.
tuple_01 = (1,2,3,4,5,6,7,8,9)

tuple_2x = tuple(2*i for i in tuple_01)

print(tuple_2x)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [3]:
#37. Create a tuple of random numbers.
import random

random_tuples = tuple(random.randint(1,100) for i in range(10))

print(random_tuples)

(16, 27, 92, 2, 80, 80, 90, 12, 75, 65)

In [5]:
#38. Check if a tuple is sorted.
tuple_a = (1,2,3,4,5,6,7,8,9)
if tuple_a == sorted(tuple_a):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is not sorted

In [6]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [7]:
#40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [8]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [10]:
#42. Create a tuple from user input.

input_user = input("Enter text with commas")

converted_text = input_user.split(',')

tuple_form = tuple(converted_text)


print("Tuple of input user text :",tuple_form)

Enter text with commas h,e,l,l,o, ,w,o,r,l,d

Tuple of input user text : ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [11]:
#43. Swap two elements in a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [12]:
#44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [14]:
#45. Create a tuple of the first `n` powers of 2.
n = 10

N_power = tuple(2**i for i in range(n))

print(N_power)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [19]:
#46. Find the longest string in a tuple of strings
string_tuple = ("ok", "Yes", "good", "why", "which")

longest_string = max(string_tuple,key=len)

print("Longest string:", longest_string)

Longest string: which

In [21]:
#47. Find the shortest string in a tuple of strings.
string_tuple = ("ok", "Yes", "good", "why", "which")

shortest_string = min(string_tuple,key=len)

print("Shortest string:", shortest_string)

Shortest string: ok

In [22]:
#48. Create a tuple of the first `n` triangular numbers.
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [23]:
#49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)


sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [24]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [5]:
#1. Create a set with integers from 1 to 5.
integers_ =  set(range(1,6))
print(integers_)

{1, 2, 3, 4, 5}

In [6]:
#2. Add an element to a set

set_a = {1,2,3,4,5}

set_a.add(6)

print(set_a)

{1, 2, 3, 4, 5, 6}

In [7]:
#3. Remove an element from a set.
set_b = {1,2,0,3,4,5}

set_b.remove(0)

print(set_b)

{1, 2, 3, 4, 5}

In [17]:
#4. Check if an element exists in a set.
set_c = {1,2,3,4,5,6}

element = 1
    
if element in set_c:
    print("Yes an elemnet is exist in a set")
else:
    print("No an elemnet does not exist in a set")

Yes an elemnet is exist in a set

In [12]:
#5. Find the length of a set without using the `len()` function.
set_e = {1,2,3,6,4,9,7,34,5}

count = 0

for i in set_e:
    count +=1
print("Length of set is :",count)

Length of set is : 9

In [19]:
#6. Clear all elements from a set.
set_f = {1,2,3,4,5,6}

set_f.clear()
try:
    print(set_f)
except:
    pass

set()

In [3]:
#7. Create a set of even numbers from 1 to 10.
set_even = set(i for i in range(1,11) if i%2==0)

print(set_even)

{2, 4, 6, 8, 10}

In [5]:
#8. Create a set of odd numbers from 1 to 10.

set_odd = set(i for i in range(1,11) if i%2!=0)

print("Set of odd numbers",set_odd)

Set of odd numbers {1, 3, 5, 7, 9}

In [6]:
#9. Find the union of two sets.
set_01 = {1,2,3,4,5}
set_02 = {6,7,8,9,10}

set_union = set_01.union(set_02)

print(set_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
#10. Find the intersection of two sets.
set_03 = {1,2,3,4,5,6}
set_04 = {4,5,6,7,8,9}

set_intersec = set_03.intersection(set_04)

print(set_intersec)

{4, 5, 6}

In [13]:
#11. Find the difference between two sets
set_A = {1,2,3,4,5,6,7,8,9}
set_B = {4,5,6}

dif_set = set_A.difference(set_B)

print(dif_set)

{1, 2, 3, 7, 8, 9}

In [21]:
#12. Check if a set is a subset of another set.
set_A1 = {1,2,3,4,5,6}
set_A2 = {3,4,5}

issubset = set_A2.issubset(set_A1)
print("Is set_A2 is a subset of set_A1 :",issubset)

Is set_A2 is a subset of set_A1 : True

In [20]:
#13. Check if a set is a superset of another set.
set_B1 = {10,20,30}

set_B2 = {10,20,30,40,50,60}

issuperset = set_B2.issuperset(set_B1)

print("Is set_B2 is a superset of set_B1 :",issuperset)

Is set_B2 is a superset of set_B1 : True

In [24]:
#14. Create a set from a list.
list_a = [1,2,3,4,5,6,7]

converted_list = set(list_a)

print("Set form of list :",converted_list)

Set form of list : {1, 2, 3, 4, 5, 6, 7}

In [26]:
#15. Convert a set to a list.
set_A3 = {1,2,3,4,5,6}

converted_set = list(set_A3)

print("List form of set :",converted_set)

List form of set : [1, 2, 3, 4, 5, 6]

In [29]:
#16. Remove a random element from a set.
import random
set_B3 = {1,2,3,4,5,6}

random_choice = random.choice(list(set_B3))

set_B3.remove(random_choice)

print("Removed element is :",random_choice)
print("Updated set after removing element :",set_B3)

Removed element is : 2
Updated set after removing element : {1, 3, 4, 5, 6}

In [9]:
#17. Pop an element from a set
set_A1 = {1,3,4,5,6}

popped_set = set_A1.pop()

print("Popped element :",popped_set)
print("Popped set after popping :",set_A1)

Popped element : 1
Popped set after popping : {3, 4, 5, 6}

In [21]:
#18. Check if two sets have no elements in common.
set_C = {1,2,3,4,5,6}

set_D = {11,12,13,14,15,16}

intersec = set_C.intersection(set_D)

if not intersec:
    print("This two sets have no common elements ")
else:
    print("This two sets have common elements of :",intersec)

This two sets have no common elements

In [2]:
#19. Find the symmetric difference between two sets.
set_A = {1,2,3,4,5,6,7}
set_B = {4,5,6,7,8,9,10}

symmetric_diff = set_A^set_B

print("Symmetric diffrence :",symmetric_diff)

Symmetric diffrence : {1, 2, 3, 8, 9, 10}

In [6]:
#20. Update a set with elements from another set
set_1 = {1,2,3,4,5,6}
set_2 = {5,6,7,8,9,10,11,12}

set_1.update(set_2)

print("Updated set :",set_1)

Updated set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [7]:
#21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [8]:
#22. Check if two sets are identical
set_a = {1,2,3,4,5,6,7}
set_b = {3,1,6,2,4,5,7}

if set_a == set_b:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [9]:
#23. Create a frozen set.
list_int = [1,2,3,4,5,6,7,8,9]

frozen_set = frozenset(list_int)

print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [1]:
#24. Check if a set is disjoint with another set.
set_A = {1,2,3,4,5,6}
set_B = {7,8,9,10,11,12}

check_set = set_A.isdisjoint(set_B)

print("Set is disjoint with another set:",check_set)

Set is disjoint with another set: True

In [16]:
#25. Create a set of squares of numbers from 1 to 5
set_1 = range(1,6)
set_2 = set()

for i in set_1:
    
    square = i**2
    
    set_2.add(square)

print(set_2)

{1, 4, 9, 16, 25}

In [30]:
#26. Filter out all even numbers from a set.

set_ab = {1,2,3,4,5,6,7,8,9,10}

set_empty = set()

for i in set_ab:
    if i%2==0:
        set_empty.add(i)
print(set_empty)

{2, 4, 6, 8, 10}

In [32]:
#27. Multiply all elements in a set by 2.
set_A1 = {1,2,3,4,5,6,7,8}

set_empty = set()

for i in set_A1:
    
    two_time = i*2
    
    set_empty.add(two_time)

print(set_empty)

{2, 4, 6, 8, 10, 12, 14, 16}

In [34]:
#28. Create a set of random numbers

import random

num_limit = 10

set_A = set()

for i in range(num_limit):
    
    set_random = random.randint(1,100)
    
    set_A.add(set_random)
print(set_A)

{64, 66, 100, 5, 38, 69, 73, 49, 53, 93}

In [46]:
#29. Check if a set is empty.
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [47]:
#30. Create a nested set (hint: use frozenset).

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}


frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)


nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [57]:
#31. Remove an element from a set using the discard method.
set_C1 = {1,2,8,3,4,5,6}

element_to_remove = 8

set_C1.discard(element_to_remove)

print(set_C1)

{1, 2, 3, 4, 5, 6}

In [62]:
#32. Compare two sets.
set_D1 = {1,2,3,4,5,6}
set_D2 = {4,5,6,7,8,9,10,11,12}

is_subset = set_D1.issubset(set_D2)
is_superset = set_D1.issuperset(set_D2)

intersection = set_D1.intersection(set_D2)

union = set_D1.union(set_D2)

difference = set_D1.difference(set_D2)
difference_ = set_D2.difference(set_D1)
print("Is set_D2 is set_D1 subset ? ",is_subset)
print("Is set_D2 is set_D1 superset ?",is_superset)
print("intersection :",intersection)
print("Union of two sets :",union)
print("Elements in set_D1 but not in set_D2:",difference)
print("Elements in set_D2 but not in set_D1:",difference_)

Is set_D2 is set_D1 subset ?  False
Is set_D2 is set_D1 superset ? False
intersection : {4, 5, 6}
Union of two sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Elements in set_D1 but not in set_D2: {1, 2, 3}
Elements in set_D2 but not in set_D1: {7, 8, 9, 10, 11, 12}

In [66]:
#33. Create a set from a string.
string_s = "An Apple"

set_str = set(string_s)

print(set_str)

{'A', 'e', 'p', 'l', ' ', 'n'}

In [4]:
#34. Convert a set of strings to a set of integers.
string_ = {"1","2","3"}

set_ = set()

for i in string_:
    
    integer = int(i)
    
    set_.add(integer)

print("Set of integers :",set_)

Set of integers : {1, 2, 3}

In [7]:
#35. Convert a set of integers to a set of strings.

integers_form = {1,2,3,4,5,6,7,8,9}

set_i = set()

for i in integers_form:
    
    string = str(i)
    
    set_i.add(string)
print("Set of string :", set_i)

Set of string : {'6', '2', '3', '5', '7', '9', '1', '4', '8'}

In [11]:
#36. Create a set from a tuple.

tuple_t = (1,2,3,4,5,6,7,8,9)

set_tuple_t = set(tuple_t)

print("Set of tuple :",tuple_t)

Set of tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
#37. Convert a set to a tuple
set_s = {1,2,3,4,5,6}

tuple_t = tuple(set_s)

print(tuple_t)

(1, 2, 3, 4, 5, 6)

In [14]:
#38. Find the maximum value in a set.
my_set = {65, 17, 72, 43, 18}


max_value = None

for num in my_set:
    
    if max_value is None or num > max_value:
        
        max_value = num  

print("Maximum value:", max_value)

Maximum value: 72

In [18]:
#39. Find the minimum value in a set
number_set = {15, 8, 23, 4, 42, 11}


min_value = None


for num in number_set:
    if min_value is None or num < min_value:
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [24]:
#40. Create a set from user input.
user_set = set()


print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  hello world
>  done

Final set: {'hello world'}

In [1]:
#41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)


if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [2]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [3]:
#43. Remove duplicates from a list using sets

original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]


unique_set = set(original_list)



unique_list = list(unique_set)



print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [4]:
#44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
   
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}


result = have_same_elements(set1, set2)


if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [7]:
#45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):

    powers_of_2 = set()

    
    for i in range(n):
        
        power = 2 ** i


        powers_of_2.add(power)


    return powers_of_2


n = 5


powers_set = generate_powers_of_2(n)


print(powers_set)

{1, 2, 4, 8, 16}

In [8]:
#46. Find the common elements between a set and a list.

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]


list_to_set = set(my_list)


common_elements = []


for element in my_set:
    
    if element in list_to_set:

        common_elements.append(element)


print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [10]:
#47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set() 
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers.add(triangular_number)  
    return triangular_numbers


n = int(input("Enter the value of n: "))


triangular_set = generate_triangular_numbers(n)


print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [11]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}


is_subset = set2.issubset(set1)


if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [12]:
#49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
   
    alternating_set = set()

    
    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set


length_n = 10


result = create_alternating_set(length_n)


print(result)

{0, 1}

In [ ]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}